/* Sección 1 */
section:nth-child(1) {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffcccb; /* Color rosa claro */
  }
  
  /* Sección 2 */
  section:nth-child(2) {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #b0e57c; /* Color verde claro */
  }
  
  /* Estilos para la galería de imágenes */
  .img-galeria {
    width: 22%;
    margin-bottom: 10px;
  }
  
  /* Estilos para el Modelo */
  .modelo {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000000;
    background: rgba(194, 18, 18, 0.5);
    top: 0;
    left: 0;
    display: flex;
    align-content: center;
  }
  
  .img-modelo {
    width: 450px;
    display: block;
    margin: auto;
  }
  
  .cerrar {
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
  
  /* Mediaqueries para Tablets */
  @media only screen and (max-width: 980px) {
    /* Sección 1 en tablet */
    section:nth-child(1) {
      width: 90%;
    }
    /* Sección 2 en tablet */
    section:nth-child(2) {
      width: 90%;
    }
    .img-galeria {
      width: 45%;
    }
  }
  
  /* Mediaqueries para celulares */
  @media only screen and (max-width: 480px) {
    /* Sección 1 en celular */
    section:nth-child(1) {
      width: 98%;
    }
    /* Sección 2 en celular */
    section:nth-child(2) {
      width: 98%;
    }
    .img-galeria {
      width: 100%;
    }
  }
  .col-lg-8 {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Estilos para la clase .img-cont */
  .img-cont {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }